<section class="hero hero--about">
  <h2 class="content__title content__title--about">We're On a Mission to Make the World More Inclusive</h2>
  <p class="content__subtitle content__subtitle--about">Left Handed Pens is committed to providing support for any left handed person looking for a more comfortable and higher quality experience with their writing tools.</p>
</section>
<section class="stats">
  {{!-- Image source: https://www.pexels.com/photo/high-angle-photo-of-woman-writing-on-notebook-4064232/ --}}
  <img src="images/person_writing.jpg" alt="Person in wheelchair writing in a book" class="stats__img stats__img--big">
  <div class="stats__right">
    {{!-- Image source: https://www.pexels.com/photo/modern-art-1910225/ --}}
    <img src="images/abstract.jpg" alt="Abstract lights with red primary colour" class="stats__img stats__img--small">
    <div class="stats__wrapper">
      <div class="stats__stat">
        <h3>1989</h3>
        <p>Company Founded</p>
      </div>
      <div class="stats__stat">
        <h3>128</h3>
        <p>Employees</p>
      </div>
      <div class="stats__stat">
        <h3>$1.2B</h3>
        <p>In Sales</p>
      </div>
      <div class="stats__stat">
        <h3>100%</h3>
        <p>Committed</p>
      </div>
    </div>
  </div>
</section>
<section class="statement">
  <section class="mission">
    <h2>Our Mission</h2>
    <div class="mission__text">
      <p>When it comes to customer commitment, not many companies are as hyper-focused as Left Handed Pens are. Although pen selection, quality, and value all have a place in the company's mission statement, it's crystal clear that it's all about the customer: "Left Handed Pens works relentlessly to give customers the most compelling shopping experience possible."</p>
    </div>
  </section>
  <section class="values">
    <h2>Our Values</h2>
    <ul>
      <li><h3>Inclusively providing options for those who need</h3></li>
      <li><h3>Creating high quality products that we want to use</h3></li>
      <li><h3>Building a lasting community built around our unique trait</h3></li>
      <li><h3>Respect and uphold everlasting values, set by us, demanded by our users</h3></li>
      <li><h3>Act with uncompromising honesty and integrity in everything we do.</h3></li>
    </ul>
  </section>
</section>