<section class="hero">
  <h2>We're On a Mission to Make the World More Inclusive</h2>
  <p>Left Handed Pens is committed to providing support for any left handed person looking for a more comfortable and higher quality experience with their writing tools.</p>
</section>
<section class="stats">
  <img src="/" alt="" class="stats__img stats__img--big">
  <div>
    <img src="" alt="" class="stats__img stats__img--small">
    <div class="stats__wrapper">
      <div class="stats__stat">
        <h3>1989</h3>
        <p>Company Founded</p>
      </div>
      <div class="stats__stat">
        <h3>128</h3>
        <p>Employees</p>
      </div>
      <div class="stats__stat">
        <h3>$1.2B</h3>
        <p>In Sales</p>
      </div>
    </div>
  </div>
</section>
<section class="statement">
  <section class="mission">
    <h2>Our Mission</h2>
    <div class="mission__text">
      <p>When it comes to customer commitment, not many companies are as hyper-focused as Left Handed Pens are. Although pen selection, quality, and value all have a place in the company's mission statement, it's crystal clear that it's all about the customer: "Left Handed Pens works relentlessly to give customers the most compelling shopping experience possible."</p>
    </div>
  </section>
  <section class="values">
    <h2>Our Values</h2>
    <ul>
      <li><h3>Inclusively providing options for those who need</h3></li>
      <li><h3>Creating high quality products that we want to use</h3></li>
      <li><h3>Building a lasting community built around our unique trait</h3></li>
    </ul>
  </section>
</section>