<!DOCTYPE html>
<html>
  <head>
    <title>Left Handed Pens | {{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <header class="header">
      <div class="header__logo">
        <a href="/">
          <h2 class="header__company">AP Creative</h2>
          <img src="images/logo.svg" alt="AP Creative Logo">
        </a>
      </div>
      <div class="nav__icon">
        <img src="images/menu.svg" alt="Navigational Menu Icon">
      </div>
      <nav class="nav">
        </span>
        <ul class="nav__list">
          <span class="nav__close">X</span>
          <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="/" class="nav__link">About</a></li>
          <li class="nav__item"><a href="/products" class="nav__link">Products</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <script src='/js/main.js' type="module"></script>
  </body>
</html>
