<section class="featured">
  <h2>Featured Item</h2>
  <h3>Pen Kit</h3>
  <img src="images/pen_kit.jpg" alt="Featured Product: Pen Kit">
</section>
<section class="products">
  <h2 class="products__title">All Pens</h2>
  <ul class="products__list">
    {{#each productData}}
    <li class="products__item">
      <img class="products__img" src="{{productImg}}" alt="">
      <div class="products__info">
        <h3 class="products__name">{{productTitle}}</h3>
        <span class="products__price">{{productPrice}}</span>
        <a href="#" class="products__link">Buy Now</a>
      </div>
    </li>
    {{/each}}
</section>