:root {
  --heading: 'Poppins', sans-serif;
  --body: 'Open Sans', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 45px;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  background: rgba(255, 255, 255, 0.918);
  box-shadow: 0px 4px 8px 2px rgba(12, 12, 12, 0.4);
  gap: 70%;
}

.header__logo {
  width: 35px;
}

.header__logo img {
  filter: brightness(0);
}

.header__company {
  display: none;
}

img {
  width: 100%;
}

.nav__icon {
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.918);
  box-shadow: inset 0px 4px 8px 2px rgba(12, 12, 12, 0.253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 45px;
  text-align: center;
}

.nav__link, .nav__close {
  text-decoration: none;
  color: black;
  font-family: var(--body);
  font-weight: bold;
  font-size: 1.8rem;
  position: relative;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.nav__link:hover::after {
  background: black;
  width: 60%;
}

.nav__close {
  font-size: 1.2rem;
  position: absolute;
  top: 3%;
  right: 7%;
  cursor: pointer;
}

.nav--open {
  left: 0;
}

.hero {
  text-align: center;
  margin: 90px 0 10%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content__subtitle {
  font-family: var(--heading);
  font-size: 1.1rem;
}

.content__title {
  font-size: 3rem;
  font-family: var(--heading);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.hero__btn {
  font-family: var(--heading);
  font-size: 0.9rem;
  font-weight: bold;
  background: #e63e3e;
  border-radius: 3px;
  padding: 12px 0;
  width: min(33%, 150px);
  margin: 15px auto 0;
  color: white;
  text-decoration: none;
  text-align: center;
}

.cards__list, .products__list {
  display: flex;
  flex-wrap: wrap;
}

.cards__card, .products__item {
  width: 75%;
  max-width: 300px;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
}

.card__img, .products__img {
  border-radius: 10px 10px 0 0;
  height: 240px;
  object-fit: cover;
  border: solid 2px rgba(0, 0, 0, 0.37);
  border-bottom: none;
  box-sizing: border-box;
}

.card__info, .products__info {
  display: flex;
  flex-direction: column;
  height: 140px;
  background-color: #303238;
  color: white;
  padding: 15px 15px 20px 15px;
  border-radius: 0 0 10px 10px;
  box-shadow: #303238 0px 4px 8px -2px;
}

.card__title {
  font-family: var(--heading);
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.card__desc {
  font-family: var(--body);
  font-size: 0.86rem;
  line-height: 1.5;
}

.card__link {
  font-family: var(--body);
  font-size: 0.86rem;
  margin-top: auto;
  margin-bottom: 4%;
}

.card__buy {
  color: white;
  text-decoration: none;
  border-bottom: solid 2px white;
  padding-bottom: 2%;
}

.featured {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.featured h2, .featured h3 {
  font-family: var(--heading);
  font-weight: 600;
  font-size: 2.3rem;
  margin: 8px 0;
  width: 100%;
  color: white;
  text-align: center;
}

.featured img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.products__title {
  font-family: var(--heading);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 5%;
  position: relative;
  display: inline-block;
}

.products__title::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background: black;
  left: 0;
  bottom: -4px;
}

.products__name {
  font-family: var(--heading);
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.products__price::before {
  content: '$';
  margin-right: 2px;
}

.products__price, .products__price::before {
  font-family: var(--body);
  font-size: 1.5rem;
  font-weight: bold;
}

.products__link {
  margin-top: auto;
  font-family: var(--body);
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}


@media screen and (min-width: 760px) {
  .header {
    gap: 50%;
    height: 55px;
    box-shadow: 0px 4px 8px 2px rgba(12, 12, 12, 0.25);
  }

  .header__logo {
    width: auto;
  }

  .header__logo a {
    display: flex;
    width: 150px;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }

  .header__company {
    display: block;
    order: 1;
    font-family: var(--heading);
    font-size: 0.9rem;
    color: black;
    position: relative;
  }

  .header__logo img {
    width: 40px;
  }

  .nav__icon {
    display: none;
  }

  .nav {
    position: initial;
    top: initial;
    left: initial;
    background: transparent;
    box-shadow: none;
    width: auto;
    height: auto;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 18px;
    text-align: left;
  }

  .nav__link {
    font-size: 1rem;
  }

  .nav__close {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .header { 
    gap: 60%;
    height: 60px;
  }
}

@media screen and (min-width: 1193px) {
  .nav__list {
    gap: 30px;
  }
  .nav__link {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1279px) {
  .header {
    position: relative;
    background: transparent;
    box-shadow: none;
    height: 80px;
    gap: 66%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1600px) {
  .header { gap: 70%; }
}